<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 localize>Ошибка! Что делать?</h2>
		</div>
    </md-toolbar>
	<md-dialog-actions layout="row">
		<md-button class="md-primary" ng-click="setAction('s')" localize>Пропустить</md-button>
		<md-button class="md-primary" ng-click="setAction('r')" localize>Повторить</md-button>
		<md-button class="md-primary" ng-click="setAction('e')" localize>Выйти</md-button>
		<md-button class="md-primary" ng-click="setAction('a')" localize>Пропустить всё</md-button>
	</md-dialog-actions>
</md-dialog>